body {
<<<<<<< HEAD
  background: #e387e8;
  color: #ecc85c;
=======
  background: #f5f5fa;
  color: #1f1f29;
>>>>>>> new_feature_branch
}

.container {
  width: 85%;
  margin: auto;
  background-color: white;
  border: 1px solid black;
}
